<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List</title>
</head>
<body>
    <div>
     <h3> apple ipad</h3>
        <img src="ipad.webp" alt="ipad" width="40"
          <ul></ul>
     <li>samsung</li>
     <li>samsung</li>
     <li>samsung</li>
     <li>samsung</li>
    </ul>
            <!--ul tye="square">
         <li>samsung</li>  
         <li>samsung</li>
         <li>samsung</li>   
         <li>samsung</li>  
         </ul> --> 
        
         <!--ul tye="circle"> 
          <li>samsung</li>   
         <li>samsung</li>
         <li>samsung</li>   
         <li>samsung</li>  
         </ul> -->
         <--
         <!--ul tye="none">
            <li><img src="cone.png" width="15px">samsung</li>
        <li><img src="cone.png" width="15px">samsung/li>
        <li><img src="cone.png" width="15px">samsung</li>
        <li><img src="cone.png" width="15px">samsung</li>
        <li><img src="cone.png" width="15px">samsung</li>
    </ul> --> 
           
         </ul> -->
         




     </ul>
</body>
</html>